.page-content .bibliography > li::before {
  display: none!important;
}

figure {
  margin-bottom: 2em!important;
  margin-top: 2em!important;
}

.site-footer {
  display: none;
}

.page-content a {
  white-space: normal!important;
}

.page-content .citation {
  white-space: nowrap!important;
}

body h4 {
  font-size: 15px !important;
  font-weight: 500 !important;
  text-transform: none !important;
  letter-spacing: normal!important;
}
@media (min-width: 31.25rem) {
  body h4 {
    font-size: 17px !important;
  }
}

// Hide H4 headings from TOC
#markdown-toc > li > ol > li > ol {
  display: none;
}
